<div class="container-small-card">
    <div class="small-card-content">
        <div class="small-card-image">
            <img
            src="{{photoCover}}"
            alt="image" width="200px" height="200px"
            />
        </div>
        <div class="small-card-title">
            <p><a [routerLink]="['content', id]">{{cardTitle}}</a></p>
        </div>
        <div class="small-card-description">
            <p><a  [routerLink]="['content', id]">{{cardDescription}}</a></p>
        </div>
    </div>
</div>



