.container-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content-cover > img {
    min-width: 800px;
    width: 800px;
    height: 500px;
    border: 6px solid rgb(144,144,144);
    border-radius: 6px;
}

.content-title {
    font-size: 30px;
}

.content-description {
    margin-top: 15px;
}

.content-description > p {
    color: rgb(160, 158, 158);
}
