<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">

        <!--destaque 3-->
        <app-big-card
        id="1"
        photoCover ="https://images.unsplash.com/photo-1570063578733-6a33b69d1439?q=80&w=1774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle = "MICROSOFT PASSA A VALER US$ 3 TRILHÕES"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae officiis minus, rem explicabo quo et voluptatum illo exercitationem quisquam? Tenetur, beatae voluptate. Est beatae dolorum quibusdam nesciunt porro possimus optio, animi, eos maxime laudantium error voluptatem."
        >
        </app-big-card>

        <!--destaque 1-->
        <app-big-card
        id="2"
        photoCover ="https://images.unsplash.com/photo-1690981897535-405a6b6ff84a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle = "TWITTER AGORA É X"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae officiis minus, rem explicabo quo et voluptatum illo exercitationem quisquam? Tenetur, beatae voluptate. Est beatae dolorum quibusdam nesciunt porro possimus optio, animi, eos maxime laudantium error voluptatem."
        >
        </app-big-card>

        <!--destaque 2-->
        <app-big-card
        id="3"
        photoCover ="https://img.freepik.com/free-photo/php-coding-computer-css-data-digital-function-concept_53876-125415.jpg?w=996&t=st=1706059065~exp=1706059665~hmac=44a2ac45f76baecc6bb0f139b33df00831736909eab61ddb16fdbbb4a87ffc57"
        cardTitle = "PHP CHEGA A VERSÃO 8.3.0"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae officiis minus, rem explicabo quo et voluptatum illo exercitationem quisquam? Tenetur, beatae voluptate. Est beatae dolorum quibusdam nesciunt porro possimus optio, animi, eos maxime laudantium error voluptatem."
        >
        </app-big-card>
</div>

<app-footer></app-footer>



<!--SMALL CARD-->
    <div class="articles-others">

        <!--Small Card 1-->
        <app-small-card
        id="4"
        photoCover="https://images.unsplash.com/photo-1617704548623-340376564e68?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        cardTitle = "TESLA: NOVOS PRODUTOS ?"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae eos maxime laudantium error."
        >
        </app-small-card>

        <!--Small Card 2-->
        <app-small-card
        id="5"
        photoCover="https://cdn.pixabay.com/photo/2018/06/28/18/09/linkedin-3504469_1280.jpg"
        cardTitle = "LINKEDIN TRAZ NOVOS RECURSOS"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae eos maxime laudantium error."
        >
        </app-small-card>

        <!--Small Card 3-->
        <app-small-card
        id="6"
        photoCover="https://cdn.pixabay.com/photo/2015/02/02/19/31/nasa-621411_1280.jpg"
        cardTitle = "O AVIÃO SUPERSÔNICO DA NASA"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae eos maxime laudantium error."
        >
        </app-small-card>

        <!--Small Card 4-->
        <app-small-card
        id="7"
        photoCover="https://cdn.pixabay.com/photo/2018/10/07/09/54/chrome-3729545_1280.jpg"
        cardTitle = "CHROME GANHA RECURSO DE IA"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae eos maxime laudantium error."
        >
        </app-small-card>

        <!--Small Card 5-->
        <app-small-card
        id="8"
        photoCover="https://img.freepik.com/free-vector/programmers-using-javascript-programming-language-computer-tiny-people-javascript-language-javascript-engine-js-web-development-concept-bright-vibrant-violet-isolated-illustration_335657-986.jpg?w=1380&t=st=1706026671~exp=1706027271~hmac=599fe911b7b5cfb6d2cfa2595cc9af5e4040c9473c3f0b00cbeead1084c5cb3b"
        cardTitle = "ECMAScript 2021 COM NOVIDADES"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione cupiditate doloremque maiores beatae eos maxime laudantium error."
        >
        </app-small-card>
    </div>
</div>


