* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff
}

body {
    background-color: #000;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}


